#container{
	width:1000px;
	margin:0 auto;
}
#banner{
	width:1000px;

	position:relative;
}
#ul-imgs{
	width:6600px;
	list-style:none;
}
#ul-imgs li{
	width:1330px;
	float: left;
}
#ul-imgs img{
	width:1330px;
}
#main{
	width:1000px;
	margin:0 auto;
}
#banner{
	width:1000px;
	overflow:hidden;
	position:relative;
}
#ul-imgs{
	list-style:none;
}
#ul-imgs.transition{
	transition:all .5s linear;
}
#ul-imgs>li{
	width:1000px;
	float:left;
}
#ul-imgs img{
	width:1000px;
}
#btn-left,#btn-right{
	width:60px;
	height:100%;
	position:absolute;

	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}
#btn-left{
background-color:red;
	left:20px;
	background-image:url(image/carousel_item/left_ar.png);
}
#btn-right{
	right:20px;
	background-image:url(image/carousel_item/right_ar.png);
}
#btn-left:hover,#btn-right:hover{
	background-size:40px 70px
}